MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=oversea
MYSQL_PASSWORD=oversea
CMS_DB_NAME=oversea_cms
API_DB_NAME=oversea_api

CMS_BASE_URL=http://localhost:1337
API_BASE_URL=http://localhost:3001
WEB_BASE_URL=http://localhost:3000

ADMIN_API_KEY=change-me

